#root,
html,
body {
  margin: 0;
  /* background: url("https://images.wallpapersden.com/image/download/new-york-city-street-photography_60649_3840x2160.jpg"); */
  background-size: cover;
}

body {
  background: url("https://images.wallpapersden.com/image/download/new-york-city-street-photography_60649_3840x2160.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-origin: border-box;
}
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
